!!!
%head
  %meta{:charset => "UTF-8"}/
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %title Book That Shit
  = stylesheet_link_tag 'application', media: 'all'
  = csrf_meta_tags
%body
  .container{id: "#{params[:controller]}-#{params[:action]}"}= yield
  - if session[:email]
    #session{data: { session: { name: session[:name], email: session[:email] }.to_json }}

  = javascript_include_tag 'application'